<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="content">
        <div class="section ps-2 pt-4">
            <div class="message">Menu</div>
        </div>
        <div class="link">
            <div class="content ps-4" [routerLink]="['/mod1']" [routerLinkActive]="'active'">
                <div class="subtitle">Mod1</div>
            </div>
        </div>
        <div class="link">
            <div class="content ps-4" [routerLink]="['/mod2']" [routerLinkActive]="'active'">
                <div class="subtitle">Mod2</div>
            </div>
        </div>
        <div class="section ps-2 pt-4">
            <div class="message">Menu</div>
        </div>
        <div class="link">
            <div class="content ps-4" [routerLink]="['/mod3']" [routerLinkActive]="'active'">
                <div class="subtitle">Mod3</div>
            </div>
        </div>
        
        <div class="footer">
            <div class="section ps-2 pt-4">
                <div class="message">Menu</div>
            </div>
            <div class="link">
                <div class="content ps-4" [routerLink]="['/mod3']" [routerLinkActive]="'active'">
                    <div class="subtitle">Mod3</div>
                </div>
            </div>
        </div>
    </div>
</div>