@import '../../../../styles.scss';

.sidebar {
  left: 0;
  top: 60px;
  width: 0px;
  z-index: 1;
  position: fixed;
  transition: 0.3s;
  padding-bottom: 1rem;
  background: #1a202c;
  height: calc(100vh - 60px);

  &.expanded {
    width: 200px;
    .content {
      .link {
        .content{
          &.active{
            background: #323e55;
          }
          &:hover{
            background: #323e55;
          }
        }
      }
    }
  }

  .content {
    height: 100%;
    position: relative;
    .section {
      .message {
        transition: 0.3s;
        overflow: hidden;
        color: $white-color;
      }
    }
    .footer {
      bottom: 0;
      width: 100%;
      position: absolute;
    }

    .link {
      .content {
        display: flex;
        padding: 10px;
        cursor: pointer;
        transition: 0.3s;
        align-items: center;
        justify-content: center;

        &:hover {
          background: $white-color;

          .subtitle {
            color: $white-color;
          }
        }

        .subtitle {
          flex: 1;
          transition: 0.3s;
          overflow: hidden;
          color: $white-color;
        }
      }
    }
  }
}