<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="content">
        <div class="section ps-2 pt-4">
            <div class="message">Test</div>
        </div>
        <div class="link">
            <a class="content ps-4" (click)="goTo('users')" [routerLinkActive]="'active'">
                <div class="subtitle">Users</div>
            </a>
        </div>
        <div class="section ps-2 pt-4">
            <div class="message">Market</div>
        </div>
        <div class="link">
            <a class="content ps-4" (click)="goTo('products')" [routerLinkActive]="'active'">
                <div class="subtitle">Products</div>
            </a>
        </div>
        <div class="link">
            <a class="content ps-4" (click)="goTo('categories')" [routerLinkActive]="'active'">
                <div class="subtitle">Categories</div>
            </a>
        </div>
        <div class="link">
            <a class="content ps-4" (click)="goTo('supermarkets')" [routerLinkActive]="'active'">
                <div class="subtitle">Supermarkets</div>
            </a>
        </div>
        
        <div class="footer">
            <div class="section ps-2 pt-4">
                <div class="message">Menu</div>
            </div>
            <div class="link">
                <div class="content ps-4" (click)="logout()" [routerLinkActive]="'active'">
                    <div class="subtitle">Sign out</div>
                </div>
            </div>
        </div>
    </div>
</div>