<div class="header row">
    <div class="col-4 d-flex justify-content-start align-items-center">
        <i class="icon fa-solid fa-bars fa-lg" aria-hidden="true" title="Menu"></i>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
        <span class="title">Market</span>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
        <i class="icon fa-solid fa-circle-user fa-lg position-relative" aria-hidden="true" title="Account"></i>
        <div class="dropdown">
            <ul class="dropdown__menu">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
          </div>
    </div>
</div>
