<div class="header row">
    <div class="col-4 d-flex justify-content-start align-items-center">
        <i *ngIf="authUser$" class="icon fa-solid fa-bars fa-2x" aria-hidden="true" title="Menu" (click)="handleSidebarToggle()"></i>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
        <span class="title">Market</span>
        <ng-container *ngIf="authUser$ | async as isAuthenticated">
            <div *ngIf="isAuthenticated">Usuario autenticado</div>
            <div *ngIf="!isAuthenticated">Usuario no autenticado</div>
        </ng-container>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
        <i class="icon fa-solid fa-circle-user fa-2x position-relative" aria-hidden="true" title="Account"></i>
        <div class="dropdown">
            <ul class="dropdown__menu">
                    <li title="Profile"><i class="fa-regular fa-user"></i><p>Profile</p></li>
                    <li title="Sign out" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i><p>Sign out</p></li>
            </ul>
          </div>
    </div>
</div>
