<div class="panel">
    <div class="column panel__column">
        <div class="row panel__row">
            <div class="col d-flex position-relative justify-content-start align-items-center container_input_icon">
                <input type="text" class="cst-button btn btn-light text-center" placeholder="Search">
                <i class="fa-solid fa-magnifying-glass position-absolute"></i>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" class="cst-button btn cst-button-primary" title="Create new" (click)="openmodal()">
                    <i class="fa-solid fa-plus"></i> Create new
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col table-responsive">
                <table *ngIf="products.length !== 0" class="w-100 table">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Created</th>
                        <th>Category</th>
                        <th>Supermarket</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let product of products">
                        <td><input type="checkbox" id="name"><label for="name">{{product.name}}</label></td>
                        <td>{{product.price | currencyFormat}}</td>
                        <td>{{product.value}}</td>
                        <td>{{product.unit}}</td>
                        <td>{{product.created}}</td>
                        <td>{{product.supermarket_id}}</td>
                        <td>{{product.category_id}}</td>
                        <td class="text-center"><i class="icon fa-solid fa-ellipsis-vertical" title="More" aria-hidden="true"></i></td>
                    </tr>
                </table>
                <p *ngIf="products.length === 0" class="message message--error text-center">NOT FOUND DATA</p>
            </div>
        </div>
    </div>
</div>

<app-modal [title]="'Create Product'">
    <app-create-form (refresh)="refresh()"></app-create-form>
</app-modal>