@import '../../../../styles.scss';

.notify {
    right: 10px;
    bottom: 20px;
    z-index: 99999;
    position: fixed;
    color: $white-color;
    padding: 0.5rem 7rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error { background-color: rgba(255, 0, 0, 0.5); }
.warning { background-color: rgba(255, 215, 0, 0.5); }
.success { background-color: rgba(40, 167, 69, 0.5) }