# Archivos y directorios específicos de Angular que no necesitamos en la imagen Docker
/node_modules
/dist
/e2e
/coverage

# Otros archivos y directorios que generalmente no son necesarios en la imagen Docker
/.git
/.vscode
/.idea
*.log
*.tmp
*.bak
.DS_Store