<div class="panel">
    <div class="column panel__column">
        <div class="row panel__row">
            <div class="col d-flex justify-content-start">
                <button type="button" class="cst-button btn btn-light" title="Search">
                    <i class="fa-solid fa-magnifying-glass"></i> Search
                </button>
            </div>
            <div class="col d-flex justify-content-end">
                <button type="button" class="cst-button btn btn-primary" title="Create new">
                    <i class="fa-solid fa-plus"></i> Create new
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col table-responsive">
                <table class="w-100 table">
                    <tr>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"> Andres Orozco</td>
                        <td>07/22/1997</td>
                        <td>aorozco@hotmail.com</td>
                        <td class="text-center"><i class="icon fa-solid fa-ellipsis-vertical" title="More" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"> Juan Orozco</td>
                        <td>07/22/1997</td>
                        <td>juanorozco@hotmail.com</td>
                        <td class="text-center"><i class="icon fa-solid fa-ellipsis-vertical" title="More" aria-hidden="true"></i></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>