@import '../../../../styles.scss';

.modal {
  z-index: 2;
  display: flex;
  position: fixed;
  align-items: center;
  background: rgba(249, 249, 249, 0.6);
  
  &__content {
    padding: 20px;
    max-height: 75%;
    overflow-y: auto;
    position: relative;
    margin-inline: auto;
    width: min(80%, 500px);
    border-radius: $border-radius;
    background-color: $white-color;
    border: 1px solid $gray-dark-color;

    .header {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;

      i {
        right: 0;
        cursor: pointer;
        position: absolute;
      }
    }
  }
}