/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
}
  

// Colors
$black-color: #000;
$white-color: #fff;
$primary-color: #6E07F3;
$gray-dark-color: #ccc;
$gray-ligth-color: #f9f9f9;
$error-color: #FF0000;
$warning-color: #ffd700;
$success-color: #28a745;


// Variables
$header-height: 60px;
$border-radius: 10px;
$btn-input-height: 40px;


// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}


// Scroll
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: $gray-ligth-color; 
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: $gray-dark-color; 
}


// Text 
.title {
    font-weight: 600;
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1rem;
    font-weight: 600;
}

.paragrah {
    font-size: 1rem;
    font-weight: 400;
}

.message {
    font-size: .8rem;
    font-weight: 400;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


table {
    width: 100%;
    table-layout: fixed;

    tr{
        height: 40px;

        &:hover {
            background-color: $gray-ligth-color;
        }

        th {
            @extend .paragrah, .ellipsis;
            text-align: center;
            padding-inline: 10px;
            text-transform: uppercase;
            border: 1px solid $gray-dark-color;
            background-color: $gray-ligth-color;
        }

        td { 
            padding-inline: 10px;
            @extend .paragrah, .ellipsis;
            border: 1px solid $gray-dark-color;

            &:not(first-child) {
                text-align: center;
            }

            &:first-child {
                text-align: start;
            }

            label{
                font-weight: 600; 

                &:hover {
                    cursor: pointer;
                    background-color: transparent;
                }
            }
        }
    }
}

.icon {
    cursor: pointer;
}


// Custom styles
.cst-button {
    @extend .paragrah;
    width: 200px;
    height: $btn-input-height;
    border-radius: $border-radius !important;

    &-primary {
        color: $white-color;
        border-color: $primary-color;
        background-color: $primary-color;

        &:hover {
            color: $white-color;
            border-color: rgbA(110, 7, 243, 0.6);
            background-color: rgbA(110, 7, 243, 0.6);
        }
    }
}


input[type="checkbox"] {
    accent-color: $primary-color;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    outline: none;
    height: $btn-input-height;
    padding-inline-start: 10px;
    border-radius: $border-radius;
    border: 1px solid $gray-dark-color;
}